<h1>Carpe Diem Api Documentation</h1>

<h2>Return all Goals</h2>

<p><em>curl https://powerful-badlands-4671.herokuapp.com/api/goals</em></p>

<h2>Return a single Goal with associated Entries</h2>

<p>Add the goal id before .json to return a single goal.</p>

<p><em>curl https://powerful-badlands-4671.herokuapp.com/api/goals/id.json</em></p>

<h2>Return a User's Goals and Entries</h2>

<p>To return a single user's goals and entries, add the User's username before .json. The name is case sensitive.</p>

<p><em>curl https://powerful-badlands-4671.herokuapp.com/api/users/username.json</em></p>
