<div class="container recent-goals">

  <h4><span class='glyphicon glyphicon-list'></span>&nbsp;&nbsp;Recent Goals</h4>
  <!-- Goals Limit 16 -->
  <div class="row">

      <% @goals.each do |goal| %>

      <div class="col-sm-3 text-center">
        <div class="home-padding">
          <p>
            <%= link_to image_tag(goal.user.gravatar_url, class: 'avatar'), goal.user %>
          </p>

          <p>
            <strong><%= link_to goal.user.username.titleize, goal.user %></strong>
            <%= " wants to " %>
            <strong><%= link_to goal.description, goal %></strong>
          </p>

          <p><%= link_to "View", goal, class: 'btn btn-default' %></p>

        </div>
      </div>

      <% end %>
    </div>

  <div class="text-center">
    <p class="pagination">
      <%= will_paginate @goals, renderer: BootstrapPagination::Rails %>
    </p>
  </div>
</div>
