<h1>All goals tagged: <%= @tag.name %></h1>

<% @tag.goals.each do |goal| %>
  <% unless goal.private? %>
    <p>
      <strong><%= link_to goal.user.username, goal.user %></strong>
      <%= " wants to " %>
      <strong><%= link_to goal.description, goal %></strong>
    </p>
  <% end %>
<% end %>
