<% if authorized_user?(@goal) %>
  <p class="control">
    <%= link_to 'Edit', edit_goal_path(@goal) %>&nbsp;&nbsp;|&nbsp;
    <%= link_to 'Destroy', @goal, method: :delete,
    data: { confirm: 'Are you sure you want to delete this goal?' } %>
  </p>
<% end %>
