<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description, "Description (max characters: 30)" %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :tag_list, "Tags (separated by commas)" %><br>
    <%= f.text_field :tag_list %>
  </div>
  <div class="field">
    <%= f.label :private, "Private?" %><br>
    <%= f.check_box :private, id: "private" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
