<!-- Jumbotron -->
<div class="jumbotron">
  <div class="text-container">
    <h1>Carpe Diem</h1>
      <p class="lead">Seize the Day!</p>
      <p>Free blogging platform to share your goals and progress.</p>
      <p><%= link_to "Sign Up for Free", new_user_registration_path, class: "btn btn-lg btn-success btn-visited", role: "button" %></p>
  </div>
</div>

<div class="container">

  <h4><span class='glyphicon glyphicon-list'></span>&nbsp;&nbsp;Recent Goals</h4>
  <!-- Goals Limit 16 -->
  <div class="row">

      <% @goals.each do |goal| %>

      <div class="col-sm-3 text-center">
        <div class="home-padding">
          <p>
            <%= link_to image_tag(goal.user.gravatar_url, class: 'avatar'), goal.user %>
          </p>

          <p>
            <strong><%= link_to goal.user.username.titleize, goal.user %></strong>
            <%= " wants to " %>
            <strong><%= link_to goal.description, goal %></strong>
          </p>

          <p><%= link_to "View", goal, class: 'btn btn-default' %></p>

        </div>
      </div>

      <% end %>
  </div>

  <p><%= link_to 'View More', pages_recent_path, class: 'btn btn-lg btn-success view-more btn-visited' %></p>

  <h4><span class='glyphicon glyphicon-tags'></span>&nbsp;&nbsp;Popular Tags</h4>

  <div class="col-md-12 top-tags">
      <% Tag.top_tags.shuffle.each do |tag| %>
        <%= link_to tag.name, tag_path(tag),
        class: (Tag.size?(tag)) %>
      <% end %>
  </div>

  <br>

</div>
