<!-- Jumbotron -->
<div class="jumbotron">
</div>

<div class="container">

  <div class="col-lg-12 goal-page">

  <!-- Create New Entry for Goal -->
  <% unless current_user != @user || @goal.completed? %>
    <p class="new-entry"><%= link_to "New Entry", new_goal_entry_path(@goal), class: 'btn btn-primary' %></p>
  <% end %>

  <!-- Edit & Destroy links -->
  <%= render 'control' %>

  <div class="user-info text-center">
  <% if @goal.private? %><p><small><em>private</em></small></p><% end %>

  <!-- User Avatar -->
  <p><%= image_tag @user.gravatar_url, class: 'avatar goal-avatar' %></p>

  <!-- Username & Goal -->
  <p class="user-goal">
    <strong><%= link_to @user.username.titleize, @user %><%= " wants to #{@goal.description}" %></strong>
  </p>

    <!-- Mark Goal as completed links. -->
    <%= render 'completed' %>

    <!-- Follow/Unfollow Buttons -->
    <p>
      <% if user_signed_in? && current_user != @user %>
        <% if current_user.following?(@user) %>
          <%= render partial: 'friendships/unfollow' %>
        <% else %>
          <%= render partial: 'friendships/follow' %>
        <% end %>
      <% end %>
    </p>

  </div>

  <h4 class="entries-title"><span class='glyphicon glyphicon-pencil'></span>&nbsp;&nbsp;Entries</h4>

  <!-- Show entries for goal -->
  <%= render 'entries' %>

  <p class="social">
    <%= social_share_button_tag("Carpe Diem: #{@goal.description}", url: @goal) %>
  </p>

  <h4 class="goal-tags-title"><span class='glyphicon glyphicon-tags'></span>&nbsp;&nbsp;Tags</h4>

  <div class="col-md-12 goal-tags">
     <% @goal.tags.each do |tag| %>
      <strong><%= link_to tag.name, tag_path(tag), class: 'tag' %></strong>
     <% end %>
  </div>

  </div>
</div>
