// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.goal-page {
  background: #fff;
  padding-bottom: 30px;
  z-index: 100;
  margin-top: -325px;
  a {
    color: #199E7C !important;
  }
}

.goal-avatar {
  margin-top: 20px;
}

.user-info {
  margin-top: 20px;
}

.user-goal {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.3em;
}

a.btn-goal {
  clear: right;
  font-size: 15px !important;
  color: #fff !important;
  margin-bottom: 15px;
  &:visited {
    color: #fff !important;
  }
}

p.control {
  position: absolute;
  right: 20px;
  margin-top: 20px;
}

.new-entry {
  position: absolute;
  left: 20px;
  margin-top: 20px;
  .btn-primary {
    color: #fff !important;
  }
}

.entries-title {
  margin-top: 5px;
}

.entries {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 30px;
}

ul.entries {
  list-style: none;
  padding-left: 20px;
  margin-left: -20px;
  .no-entries {
    font-size: 17px;
  }
  .entry {
    padding: 15px 15px 10px 15px;
  }
}

.entries {
  padding-top: 10px;
  padding-bottom: 5px;
  li:nth-of-type(odd) {
    background: #E2E2D4;
  }
}

.entry-control {
  margin-top: -10px;
}

.cheer-count {
  color: #FF6600;
}

.goal-page-entry-control {
  margin-top: 5px;
}

.created {
  float: right;
  margin-top: -20px;
}

li.no-entries {
  text-align: center;
  height: 50px;
  padding-top: 10px;
  background: #fff !important;
}

.goal-tags-title {
  margin-top: 15px;
}

.goal-tags {
  text-align: center;
  padding-top: 15px;
  .tag {
    font-size: 1.2em;
  }
}
