.profile-bg {
  height: 300px !important;
}

.profile-container {
  padding: 10px;
  width: 310px;
  height: 200px;
  margin: 0 auto;
  z-index: 100;
  margin-top: -250px;
  a {
    font-weight: bold;
    text-decoration: underline;
    color: #AA3939 !important;
  }
}

.profile-avatar {
  margin-top: 30px;
  float: left;
}

h1.username {
  font-size: 3em;
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Pacifico', cursive;
  color: #494948;
}

.user-basics {
  margin-left: 20px;
  text-align: left;
  float: left;
}

ul li {
  list-style: none;
}

ul.user-friends {
  padding: 0;
  li {
    display: inline-block;
  }
}

.user-goals {
  clear: left;
  padding-top: 50px;
}

.private {
  background-color: #D5D5CB;
}
